.about .content {
    min-height: calc(100vh - 10rem);
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .content .bio {
    margin-bottom: 2rem;
    line-height: 2rem;
    min-width: 60vw;
    max-width: 60vw;
}

@media screen and (max-width: 780px) {
    .about .content {
        margin-bottom: 4rem;
    }

    .about .content .bio {
        min-width: 90vw;
        max-width: 90vw;
    }
}
