body {
  font-family: 'Lato', sans-serif;
  background-color: #282c34;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: .5rem;
}

.body {
  font-size: 1.25rem;
}

.App {
  color: white;
  display: flex;
  flex-direction: column;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fade-enter {
  opacity: .5;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 800ms ease;
}
