.experience .content {
    min-height: calc(100vh - 10rem);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience .content .body {
    font-size: 1.5rem;
}

.card {
    min-width: 60vw;
    max-width: 60vw;
    padding: .5rem;
    text-align: start;
}

.card .cardHeader {
    border-bottom: .1rem solid var(--light-grey);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .company {
    font-size: 1.75rem;
    font-weight: 700;
    display: inline-block;
}

.card .company .companyLocation {
    font-size: 1.25rem;
}

.card .summaryOfCareer {
    line-height: 150%;
    font-size: 1.125rem;
    padding: 0 1rem;
}

.timeAtCompany,
.timeAtPosition {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: right;
}

.card .cardContent ul {
    margin-top: .75rem;
}

.bullet li {
    padding-left: 2rem;
}

.card .bullets {
    font-size: 1.125rem;
    line-height: 150%;
    padding: 0 1.5rem;
}

.position {
    margin-bottom: 1rem;
}

.position .titleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.position .jobTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (max-width: 780px) {
    .experience .content {
        margin-bottom: 4rem;
    }

    .card {
        min-width: 90vw;
        max-width: 90vw;
    }
}
