.experience {
    min-height: 100vh;
    overflow: auto;
}

.experience .content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience .content .body {
    font-size: 1.5rem;
    max-width: 50vw;
}
