.experience .content {
    min-height: calc(100vh - 10rem);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience .content .body {
    font-size: 1.5rem;
}

.card {
    min-width: 60vw;
    max-width: 60vw;
    padding: .5rem;
    text-align: start;
}

.card .cardHeader {
    border-bottom: .125rem solid var(--light-grey);
    margin-bottom: .5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .cardContent {
    padding: 0 1rem;
}

.card .jobTitle {
    font-size: 2rem;
}

.card .timeWorked {
    font-size: 1.25rem;
    justify-items: right;
}

.card .company {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.card .companyLocation {
    font-style: italic;
}

.card .bullets {
    font-size: 1.125rem;
    line-height: 150%;
}
