.header {
    padding: 1rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282c34cc;
}

.header .name {
    font-size: 2.5rem;
    width: calc(30vw - 1rem);
}

.header .nav {
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .spacer {
    width: calc(30vw - 1rem);
}
