.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .title {
    font-size: 4rem;
    font-family: 'Inconsolata', monospace;
    white-space: pre-line;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grey {
    color: #777;
}

.turquoise {
    color: #22f1a2
}

.lightblue {
    color: #53d9eb
}

.Typist .Cursor {
    display: inline-block;
}

.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s step-end infinite; 
}

@keyframes blink {
  from, to {
      color: white;
  }
  50% {
    color: transparent;
  }
}
