.home .name {
    font-size: 4rem;
    font-family: 'Inconsolata', monospace;
    white-space: pre-line;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}