.rectangle {
	/* border-radius: 50%; */
	width: 4rem;
    height: 1.25rem;
    background: #282c34;
    border: .1rem solid #999;
    transition: all .75s ease;
    margin-bottom: .30rem;
    text-decoration: none;

}

.rectangle:hover {
    cursor: pointer;
    border: .1rem solid #fff;
    width: 5rem;
    /* background: white; */
    transition: all 0.25s ease;
}

.rectangle:active {
    border: .1rem solid #444;
    width: 3.5rem;
}

.container {
    padding: 0rem .25rem;
    display: inline-flex;
}

.label {
    position: absolute;
    font-size: 1.5rem;
}

.visible {
    transition: all 0.25s ease;
    opacity: 1;
}

.invisible {
    transition: all 0.25s ease;
    opacity: 0;
}

.red-active .NavLinkActive {
    background: #EE220C;
}

.green-active .NavLinkActive {
    background: #61D836;
}

.blue-active .NavLinkActive {
    background: #00A2FF;
}

.red {
    background: #EE220C;
    transition: all .5s ease;
}

.green {
    background: #61D836;
    transition: all .5s ease;
}

.blue {
    background: #00A2FF;
    transition: all .5s ease;
}
