.rectangle {
	/* border-radius: 50%; */
	width: 4rem;
    height: 1.25rem;
    background:var(--background-color);
    border: .1rem solid var(--light-grey);
    transition: all .75s ease;
    margin-bottom: .30rem;
    text-decoration: none;

}

.rectangle:hover {
    cursor: pointer;
    border: .1rem solid white;
    width: 4.75rem;
    /* background: white; */
    transition: all 0.25s ease;
}

.rectangle:active {
    border: .1rem solid var(--dark-grey);
    width: 3.5rem;
}

.container {
    padding: 0rem .25rem;
    display: inline-flex;
}

.label {
    position: absolute;
    font-size: 1.5rem;
}

.visible {
    transition: all 0.25s ease;
    opacity: 1;
}

.invisible {
    transition: all 0.25s ease;
    opacity: 0;
}

.red-active .NavLinkActive {
    background: var(--red);
}

.green-active .NavLinkActive {
    background: var(--green);
}

.blue-active .NavLinkActive {
    background: var(--blue);
}

.red {
    background: var(--red);
    transition: all .5s ease;
}

.green {
    background: var(--green);
    transition: all .5s ease;
}

.blue {
    background: var(--blue);
    transition: all .5s ease;
}
