.circle {
	/* border-radius: 50%; */
	width: 4rem;
    height: 1.25rem;
    background: #282c34;
    border: .1rem solid #999;
    transition: .75s ease;
    margin-bottom: .25rem;
}

.circle:hover {
    cursor: pointer;
    border: .1rem solid #fff;
    /* background: white; */
    transition: 0.25s ease;
}

.circle:active {
    border: .1rem solid #444;
}

.container {
    padding-left: .25rem;
    padding-right: .25rem;
    display: inline-flex;
}

.label {
    position: absolute;
    font-size: 1.5rem;
}

.visible {
    transition: 0.25s all ease;
    opacity: 1;
}

.invisible {
    transition: 0.25s all ease;
    opacity: 0;
}

.red-active .activeClassName {
    background: #EE220C;
}

.green-active .activeClassName {
    background: #61D836;
}

.blue-active .activeClassName {
    background: #00A2FF;
}

.red {
    background: #EE220C;
    transition: .5s ease;
}

.green {
    background: #61D836;
    transition: .5s ease;
}

.blue {
    background: #00A2FF;
    transition: .5s ease;
}
